
body#dark{
  background-color: #2d2b29;
}

#dark header {
  color: #e9ebed;
}

#dark .card {
  background-color: #3d3b39;
  color: #e9ebed;
}

#dark .card-header::after {
  background: #2d2b29;
}

#dark .card-footer::before {
  background: #2d2b29;
}

#dark #password {
  border: 2px dashed #c0c7cf;
}

#dark textarea {
  background-color: #2d2b29;
  color: #c0c7cf;
}